*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #041b47, #041b47);
    padding: 0 !important;
}

.navbar-brand img{
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    
    text-align: left;
    transition: 0.5s;
}

.navbar-nav li a:hover{
    padding: auto 10px;
    background: #2980b9;
}

.form-inline{
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none !important;
}



/* Banner */

.banner{
    background-image: linear-gradient(to right, #42455a, #041b47);
    color: #fff;
    padding-top: 5%;
    
}

.promo-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    line-height: 50px;
}

.play-btn{
    width: 45px;
    margin: 20px;
}

.banner a{
    color: #fff;
    text-decoration: none;
}

.img-fluid{
    width: 80%;
}

.bg-img{
    width: 100%;
}



/* Banner */


/* Service Section */

#services{
    padding: 80px 0;
}

.service-img{
    width: 200px;
    margin-top: 20px;
    
}

.services{
    padding: 20px 0;
}

.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before{
    content: '';
    background: #42455a;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}

.title::after{
    content: '';
    background: #42455a;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    
}
.title-white::before{
    content: '';
    background: #fff;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    

}

.title-white::after{
    content: '';
    background: #fff;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    
}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #42455a, #041b47);
}

/* Service Section */


/* About Us Section */

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li{
    margin: 10px 0;
}

#about-us ul{
    margin-left: 20px;
}

.about-img{
    margin-top: 5%;
    margin-left: 10%;
    width: 60%;
}

/* About Us Section */

/* Reviews */

#reviews{
    margin: 50px 0;
}

.reviews{
    border-left: 4px solid #42455a;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reviews img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}

/* Reviews */

/* social media section */

#social-media{
    background: #f8f9fa;
    padding: 100px;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    
}

.social-icons img{
    width: 40px;
    transition: 0.5s;
    margin: 0 30px;
}

.social-icons a:hover img{
    transform: translateY(-10px);
}



/* social media section */

/* footer section */

#footer{
    background-image: linear-gradient(to right, #42455a, #041b47);
    color: #fff;
}

.footer-box{
    padding: 20px;
}

.footer-box img {
    width: 300px;
    margin-bottom: 20px;
}

.footer-box .fas{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #42455a, #041b47);
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 20px;
    background-image: linear-gradient(to right, #42455a, #041b47);
    
}

hr{
    background-color: #fff;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

/* footer section */


/* Space.html */


#recent-discoveries{
    background: #f8f9fa;
    padding: 80px;
}

.space-img{
    border-radius: 50%;
    opacity: 90%;
}

/* Video of Space */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
    text-align: center;
    
}

.iframe-container iframe{
    position: absolute;
    left: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    width: 80%;
    display: inline-block;
}

/* Video of Space */



/* Recent Discoveries */

.container-flipbox{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.flipbox{
    width: 470px;
    height: 310px;
    background-color: transparent;
    perspective: 1000px;
    box-shadow: 0 2px 15px #adadad;
    margin: 30px 30px 0;
    padding: 5px;
}
.flip-box-inner{
    position: relative;
    width: 100%;
    height: 260px;
    transition: 300ms;
    transform-style: preserve-3d;
    
}
.flip-box-front, .flip-box-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}

.flip-box-back{
    height: 300px;
}

.name{
    width: 100%;
    height: 40px;
    background: #2c3e50;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
   
}
.flip-box-front img{
    width: 100%;
    height: 100%;
    
}
.flip-box-back{
    padding: 15px;
    color: #ffffff;
    box-sizing: border-box;
    transform: rotateY(180deg);
    background-color: #2c3e50;
}
.flipbox:hover .flip-box-inner{
    transform: rotateY(180deg);
}
h1{
    margin: 0;
    padding-left: 4px;
    
}
p{
    font-size: 14px;
    line-height: 20px;
}



/* technology.html */

.technology-img{
    border-radius: 50%;
    opacity: 90%;
}


/* life_form.html */

/* alien-flipbox */

.flipbox-alien{
    width: 350px;
    height: 430px;
    background-color: transparent;
    perspective: 1000px;
    box-shadow: 0 30px 30px #adadad;
    background: black;
    margin: 30px 30px 0;
    padding: 5px;
}
.flip-box-inner-alien{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 300ms;
    transform-style: preserve-3d;
    
}
.flip-box-front-alien, .flip-box-back-alien{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    
}

/* .flip-box-back-alien{
    height: 440px;
} */

.flip-box-front-alien img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    
}

.flip-box-front-alien:hover img{
    opacity: 0;
}


.alien-name{
    text-align: center;
}


.flipbox-alien .flip-box-back-alien{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 12%;
    background: #f8f9fa;
    background-image: url(images/gif9.gif);
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;

}

.flipbox-alien:hover .flip-box-back-alien{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.flipbox-alien .flip-box-back-alien h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.flipbox-alien .flip-box-back-alien p{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
}

.flipbox-alien:hover .flip-box-back-alien p{
    opacity: 1;
    transition-delay: 0.2s;
}

.flip-box-back-alien{
    font-weight: 600;
    color: #fff;
    
    
}


/* contact.html */

/* Admin */

.container-contact{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
    
}

.container-contact .card-contact{
    position: relative;
    max-width: 150px;
    height: 100px;
    background: #fff;
    margin: 40px 60px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
}

.container-contact .card-contact:hover{
    height: 420px;
}

.container-contact .card-contact .imgbx{
    position: relative;
    width: 120px;
    
    top: -100px;
    
    
}

.container-contact .card-contact .imgbx img{
    max-width: 100%;
    border-radius: 4px;
}

.content-contact img{
    width: 20px;
}
#services .title{
    text-align: center;
}

.container-contact .card-contact .content-contact{
    position: relative;
    margin-top: -220px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    
}

.container-contact .card-contact:hover .content-contact{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


/* Contact Us */

#contact-section{
    background: url(images/img.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}

#contact-section h1{
    text-align: center;
    color: #ffffff;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #f8f9fa;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #FFF;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}

.img-fluid-contact{
    width: 40%;
    opacity: 100;
}

/* #reference h2{
    padding-left: 20px;
}
#reference li{
    padding-left: 20px;
} */





/* Star Background */

.banner {
    display: block;
    position: relative;
    
    background: radial-gradient(220% 105% at top center, #0f0c29 10%, #302b63 40%, #24243e);
   }
   
   
   
  .stars1 {
  z-index: 10;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1146px 1891px #FFF , 718px 505px #FFF , 2483px 2449px #FFF , 1926px 1642px #FFF , 1801px 917px #FFF , 1153px 2095px #FFF , 512px 2345px #FFF , 1735px 2502px #FFF , 507px 1202px #FFF , 1929px 1598px #FFF , 1514px 2401px #FFF , 274px 478px #FFF , 2462px 650px #FFF , 2320px 530px #FFF , 929px 1619px #FFF , 2179px 237px #FFF , 92px 1738px #FFF , 1902px 679px #FFF , 549px 1353px #FFF , 1985px 1047px #FFF , 25px 1876px #FFF , 2516px 2115px #FFF , 1921px 1523px #FFF , 770px 1222px #FFF , 1378px 534px #FFF , 1938px 905px #FFF , 2389px 979px #FFF , 551px 2058px #FFF , 402px 2104px #FFF , 2087px 63px #FFF , 2358px 1069px #FFF , 1846px 636px #FFF , 2123px 915px #FFF , 2221px 1208px #FFF , 2065px 1079px #FFF , 2359px 1884px #FFF , 1139px 587px #FFF , 2002px 2518px #FFF , 1411px 219px #FFF , 1599px 2433px #FFF , 2503px 925px #FFF , 1224px 2131px #FFF , 2086px 485px #FFF , 1930px 1841px #FFF , 1071px 727px #FFF , 2175px 2251px #FFF , 1096px 1404px #FFF , 584px 1823px #FFF , 2186px 1367px #FFF , 254px 171px #FFF , 292px 1788px #FFF , 1137px 2447px #FFF , 2285px 2430px #FFF , 911px 614px #FFF , 1325px 531px #FFF , 1512px 1991px #FFF , 1403px 535px #FFF , 1862px 2140px #FFF , 2100px 2024px #FFF , 748px 647px #FFF , 1930px 1527px #FFF , 2558px 1438px #FFF , 1071px 2130px #FFF , 286px 1712px #FFF , 2528px 1734px #FFF , 285px 95px #FFF , 1234px 1580px #FFF , 1236px 360px #FFF , 1381px 2425px #FFF , 1925px 2122px #FFF , 202px 674px #FFF , 892px 1343px #FFF , 2380px 2341px #FFF , 1771px 1356px #FFF , 126px 553px #FFF , 1208px 1460px #FFF , 137px 872px #FFF , 2260px 679px #FFF , 2021px 688px #FFF , 2225px 225px #FFF , 1613px 2px #FFF , 155px 362px #FFF , 529px 781px #FFF , 439px 1040px #FFF , 2168px 2228px #FFF , 1241px 1566px #FFF , 158px 44px #FFF , 1889px 2342px #FFF , 387px 957px #FFF , 1580px 2236px #FFF , 142px 1418px #FFF , 857px 302px #FFF , 257px 594px #FFF , 370px 881px #FFF , 1689px 1505px #FFF , 2338px 781px #FFF , 499px 1542px #FFF , 754px 410px #FFF , 2490px 1571px #FFF , 383px 2296px #FFF , 598px 1884px #FFF , 2395px 1207px #FFF , 1820px 174px #FFF , 2346px 1688px #FFF , 532px 1314px #FFF , 1405px 357px #FFF , 1786px 2352px #FFF , 675px 1790px #FFF , 347px 1830px #FFF , 861px 1650px #FFF , 1999px 988px #FFF , 133px 770px #FFF , 797px 1340px #FFF , 2409px 2411px #FFF , 1120px 1809px #FFF , 365px 2413px #FFF , 1701px 1895px #FFF , 1678px 469px #FFF , 2412px 2558px #FFF , 540px 1353px #FFF , 1374px 1794px #FFF , 1341px 580px #FFF , 518px 2096px #FFF , 617px 1816px #FFF , 617px 1054px #FFF , 820px 546px #FFF , 988px 2152px #FFF , 1562px 2231px #FFF , 1840px 2214px #FFF , 789px 2448px #FFF , 780px 871px #FFF , 1647px 551px #FFF , 1390px 1407px #FFF , 1358px 1768px #FFF , 1391px 1775px #FFF , 409px 23px #FFF , 2359px 440px #FFF , 712px 1662px #FFF , 1129px 2308px #FFF , 1734px 211px #FFF , 330px 1009px #FFF , 1917px 783px #FFF , 657px 941px #FFF , 1027px 1673px #FFF , 140px 1268px #FFF , 1961px 108px #FFF , 2077px 2476px #FFF , 1119px 2015px #FFF , 2225px 848px #FFF , 1159px 1647px #FFF , 2187px 201px #FFF , 1383px 2414px #FFF , 532px 296px #FFF , 835px 2047px #FFF , 1657px 2512px #FFF , 695px 2028px #FFF , 2442px 999px #FFF , 2288px 1917px #FFF , 1310px 1514px #FFF , 1967px 554px #FFF , 1392px 692px #FFF , 1339px 2252px #FFF , 1231px 1399px #FFF , 1320px 2237px #FFF , 2182px 1438px #FFF , 868px 977px #FFF , 1668px 577px #FFF , 905px 133px #FFF , 1557px 2357px #FFF , 349px 1760px #FFF , 1393px 1049px #FFF , 2368px 823px #FFF , 639px 341px #FFF , 316px 1449px #FFF , 1994px 429px #FFF , 1116px 1233px #FFF , 610px 1555px #FFF , 2085px 1931px #FFF , 1474px 1880px #FFF , 1838px 2290px #FFF , 36px 1535px #FFF , 1692px 821px #FFF , 806px 1120px #FFF , 1469px 1643px #FFF , 2105px 1536px #FFF , 151px 1494px #FFF , 93px 1888px #FFF , 1474px 2122px #FFF , 2480px 1892px #FFF , 2132px 2553px #FFF , 2134px 1779px #FFF , 2288px 1038px #FFF , 573px 1545px #FFF , 370px 1770px #FFF , 116px 254px #FFF , 2209px 868px #FFF , 1999px 1005px #FFF , 1002px 1574px #FFF , 374px 2179px #FFF , 1054px 2276px #FFF , 2162px 2113px #FFF , 1524px 1542px #FFF , 2434px 2521px #FFF , 168px 1540px #FFF , 2436px 2314px #FFF , 1250px 1847px #FFF , 178px 644px #FFF , 182px 260px #FFF , 2254px 1035px #FFF , 2063px 728px #FFF , 1366px 502px #FFF , 971px 1923px #FFF , 1936px 1213px #FFF , 684px 207px #FFF , 337px 1662px #FFF , 796px 1721px #FFF , 1712px 813px #FFF , 1750px 755px #FFF , 2291px 700px #FFF , 1938px 1302px #FFF , 2545px 1186px #FFF , 1500px 2104px #FFF , 1757px 809px #FFF , 1339px 561px #FFF , 1542px 1340px #FFF , 2163px 700px #FFF , 2231px 1007px #FFF , 2329px 1812px #FFF , 1092px 796px #FFF , 2257px 2443px #FFF , 1281px 2150px #FFF , 1359px 1191px #FFF , 1656px 2096px #FFF , 1245px 2098px #FFF , 1713px 140px #FFF , 801px 2263px #FFF , 358px 2168px #FFF , 384px 490px #FFF , 738px 642px #FFF , 483px 1751px #FFF , 458px 1924px #FFF , 1429px 287px #FFF , 2217px 1983px #FFF , 2468px 1787px #FFF , 442px 666px #FFF , 2329px 111px #FFF , 523px 1890px #FFF , 1677px 518px #FFF , 2431px 2463px #FFF , 2083px 46px #FFF , 1534px 2003px #FFF , 938px 80px #FFF , 2444px 652px #FFF , 309px 846px #FFF , 2087px 2244px #FFF , 813px 1351px #FFF , 1830px 576px #FFF , 2115px 1939px #FFF , 1194px 551px #FFF , 1889px 1962px #FFF , 742px 601px #FFF , 1841px 256px #FFF , 1623px 832px #FFF , 1892px 202px #FFF , 1198px 1126px #FFF , 747px 252px #FFF , 12px 2401px #FFF , 1143px 1412px #FFF , 1581px 1635px #FFF , 1493px 301px #FFF , 789px 765px #FFF , 1887px 737px #FFF , 363px 590px #FFF , 2252px 1928px #FFF , 1179px 1808px #FFF , 368px 2109px #FFF , 1717px 677px #FFF , 1291px 1191px #FFF , 948px 2137px #FFF , 37px 86px #FFF , 348px 2444px #FFF , 116px 2166px #FFF , 1639px 1917px #FFF , 1861px 714px #FFF , 1640px 62px #FFF , 873px 1054px #FFF , 141px 1448px #FFF , 2053px 983px #FFF , 2172px 1542px #FFF , 2482px 2434px #FFF , 1166px 212px #FFF , 957px 315px #FFF , 1786px 869px #FFF , 1051px 1296px #FFF , 2272px 644px #FFF , 2023px 989px #FFF , 1833px 1016px #FFF , 2427px 739px #FFF , 669px 2398px #FFF , 2056px 403px #FFF , 1692px 832px #FFF , 603px 476px #FFF , 1163px 1230px #FFF , 877px 1949px #FFF , 701px 521px #FFF , 811px 454px #FFF , 1532px 911px #FFF , 1434px 485px #FFF , 925px 355px #FFF , 975px 831px #FFF , 2128px 808px #FFF , 1831px 1649px #FFF , 1195px 1801px #FFF , 1619px 1086px #FFF , 2217px 348px #FFF , 1590px 1797px #FFF , 2203px 2247px #FFF , 173px 1510px #FFF , 1646px 1491px #FFF , 914px 736px #FFF , 240px 2258px #FFF , 999px 2355px #FFF , 423px 163px #FFF , 1595px 1154px #FFF , 313px 1495px #FFF , 1132px 2456px #FFF , 788px 1940px #FFF , 1950px 302px #FFF , 23px 266px #FFF , 1243px 210px #FFF , 1379px 1301px #FFF , 1561px 89px #FFF , 1662px 622px #FFF , 2296px 85px #FFF , 1472px 1415px #FFF , 1415px 329px #FFF , 1296px 2533px #FFF , 1777px 160px #FFF , 1459px 376px #FFF , 304px 561px #FFF , 394px 1753px #FFF , 1023px 171px #FFF , 2448px 1449px #FFF , 1267px 2308px #FFF , 1176px 1631px #FFF , 1347px 2120px #FFF , 1254px 1695px #FFF , 1053px 453px #FFF , 2263px 347px #FFF , 2152px 1540px #FFF , 547px 1284px #FFF , 2116px 1799px #FFF , 786px 2280px #FFF , 1858px 2353px #FFF , 1790px 2084px #FFF , 460px 1311px #FFF , 687px 2157px #FFF , 2214px 489px #FFF , 28px 1294px #FFF , 1319px 1411px #FFF , 223px 1082px #FFF , 532px 989px #FFF , 1025px 1602px #FFF , 2399px 98px #FFF , 2199px 93px #FFF , 1030px 946px #FFF , 2057px 1538px #FFF , 2446px 1602px #FFF , 2127px 2378px #FFF , 1752px 2528px #FFF , 1343px 806px #FFF , 545px 2225px #FFF , 2322px 973px #FFF , 2028px 1421px #FFF , 1352px 779px #FFF , 1970px 2204px #FFF , 1112px 352px #FFF , 561px 968px #FFF , 567px 2204px #FFF , 703px 29px #FFF , 2086px 873px #FFF , 2291px 1156px #FFF , 1509px 104px #FFF , 1080px 411px #FFF , 1746px 1362px #FFF , 156px 603px #FFF , 1827px 668px #FFF , 2093px 1321px #FFF , 2379px 868px #FFF , 626px 372px #FFF , 1141px 1183px #FFF , 1015px 1248px #FFF , 1618px 865px #FFF , 1448px 2373px #FFF , 1735px 794px #FFF , 367px 533px #FFF , 1515px 1430px #FFF , 508px 121px #FFF , 897px 1471px #FFF , 2226px 2512px #FFF , 2092px 1778px #FFF , 509px 875px #FFF , 1808px 632px #FFF , 1539px 320px #FFF , 2395px 2084px #FFF , 291px 195px #FFF , 1220px 1793px #FFF , 1613px 1644px #FFF , 795px 1158px #FFF , 2366px 2355px #FFF , 1078px 2555px #FFF , 40px 1047px #FFF , 86px 1564px #FFF , 1002px 2102px #FFF , 393px 1317px #FFF , 2390px 896px #FFF , 2075px 1104px #FFF , 1079px 2459px #FFF , 150px 2172px #FFF , 883px 927px #FFF , 2263px 116px #FFF , 64px 2200px #FFF , 1825px 1381px #FFF , 1351px 1802px #FFF , 785px 2217px #FFF , 323px 339px #FFF , 709px 2520px #FFF , 454px 77px #FFF , 960px 532px #FFF , 1632px 1665px #FFF , 1646px 118px #FFF , 1055px 269px #FFF , 66px 1129px #FFF , 726px 1225px #FFF , 433px 470px #FFF , 352px 2302px #FFF , 881px 722px #FFF , 263px 1643px #FFF , 877px 439px #FFF , 1760px 879px #FFF , 1636px 1877px #FFF , 2111px 1593px #FFF , 1919px 999px #FFF , 463px 1209px #FFF , 608px 706px #FFF , 497px 201px #FFF , 1712px 2406px #FFF , 2002px 1671px #FFF , 1452px 1394px #FFF , 2140px 1886px #FFF , 980px 2385px #FFF , 1926px 1798px #FFF , 1433px 1748px #FFF , 1149px 1233px #FFF , 822px 1501px #FFF , 653px 1046px #FFF , 2503px 1802px #FFF , 55px 2528px #FFF , 1998px 1503px #FFF , 2080px 1155px #FFF , 207px 1202px #FFF , 1310px 2135px #FFF , 2205px 790px #FFF , 2488px 252px #FFF , 1120px 1137px #FFF , 2235px 2502px #FFF , 340px 498px #FFF , 2335px 1610px #FFF , 1686px 499px #FFF , 180px 720px #FFF , 799px 1012px #FFF , 179px 1496px #FFF , 1347px 1100px #FFF , 187px 1875px #FFF , 456px 1929px #FFF , 133px 279px #FFF , 2302px 71px #FFF , 1089px 455px #FFF , 684px 1286px #FFF , 1418px 2448px #FFF , 298px 2040px #FFF , 1319px 2141px #FFF , 831px 985px #FFF , 678px 1222px #FFF , 2440px 224px #FFF , 1364px 620px #FFF , 1261px 359px #FFF , 710px 1849px #FFF , 573px 2247px #FFF , 185px 448px #FFF , 1792px 541px #FFF , 632px 1830px #FFF , 178px 2478px #FFF , 2087px 1065px #FFF , 836px 1811px #FFF , 2237px 655px #FFF , 1272px 116px #FFF , 2505px 146px #FFF , 2313px 1558px #FFF , 711px 1682px #FFF , 276px 2372px #FFF , 1982px 1034px #FFF , 405px 755px #FFF , 2153px 2310px #FFF , 705px 170px #FFF , 95px 2186px #FFF , 1731px 89px #FFF , 2544px 2431px #FFF , 1002px 49px #FFF , 27px 2426px #FFF , 2457px 66px #FFF , 1966px 1141px #FFF , 2222px 1510px #FFF , 2057px 624px #FFF , 1186px 1569px #FFF , 1260px 1215px #FFF , 2235px 463px #FFF , 1156px 1983px #FFF , 171px 931px #FFF , 1081px 2270px #FFF , 1778px 1502px #FFF , 1930px 1343px #FFF , 2536px 1441px #FFF , 385px 1531px #FFF , 6px 435px #FFF , 1366px 534px #FFF , 230px 2179px #FFF , 1035px 2211px #FFF , 965px 2337px #FFF , 1576px 1361px #FFF , 1089px 2413px #FFF , 2313px 922px #FFF , 2402px 1332px #FFF , 2210px 169px #FFF , 1610px 1086px #FFF , 1853px 864px #FFF , 1940px 2126px #FFF , 1424px 2095px #FFF , 887px 2064px #FFF , 776px 49px #FFF , 293px 1724px #FFF , 1191px 1758px #FFF , 1426px 1043px #FFF , 666px 574px #FFF , 891px 1504px #FFF , 2450px 1840px #FFF , 1237px 1376px #FFF , 960px 2278px #FFF , 382px 2273px #FFF , 2077px 1906px #FFF , 1921px 2398px #FFF , 262px 2531px #FFF , 656px 1680px #FFF , 33px 1049px #FFF , 1600px 1954px #FFF , 1632px 745px #FFF , 762px 865px #FFF , 1430px 2018px #FFF , 1860px 1716px #FFF , 537px 2030px #FFF , 1516px 2474px #FFF , 1470px 1634px #FFF , 196px 2320px #FFF , 816px 727px #FFF , 193px 833px #FFF , 1924px 612px #FFF , 1869px 2235px #FFF , 761px 1624px #FFF , 657px 1595px #FFF , 804px 792px #FFF , 2504px 295px #FFF , 134px 725px #FFF , 1564px 1476px #FFF , 667px 579px #FFF , 416px 845px #FFF , 1235px 1208px #FFF , 691px 2350px #FFF , 198px 1231px #FFF , 1933px 2385px #FFF , 1410px 545px #FFF , 2305px 1572px #FFF , 1961px 1575px #FFF , 2048px 2492px #FFF , 1253px 1413px #FFF , 717px 544px #FFF , 905px 2119px #FFF , 444px 655px #FFF , 1162px 410px #FFF , 1765px 973px #FFF , 616px 95px #FFF , 1770px 2285px #FFF , 501px 2418px #FFF , 678px 1925px #FFF , 1567px 2494px #FFF , 624px 363px #FFF , 349px 1199px #FFF , 255px 1378px #FFF , 2139px 2269px #FFF , 2354px 973px #FFF , 904px 1669px #FFF , 78px 1718px #FFF , 2044px 2229px #FFF , 132px 2319px #FFF , 1652px 1001px #FFF , 1693px 1346px #FFF , 1637px 2470px #FFF , 2310px 18px #FFF , 615px 2045px #FFF , 249px 2442px #FFF , 2174px 2248px #FFF , 2547px 1037px #FFF , 2132px 2286px #FFF , 1739px 242px #FFF , 616px 1738px #FFF , 1153px 1611px #FFF , 1738px 727px #FFF , 1935px 1035px #FFF , 73px 492px #FFF , 707px 1087px #FFF , 2216px 2555px #FFF , 1338px 1877px #FFF , 872px 1034px #FFF , 1840px 1156px #FFF , 2081px 1454px #FFF , 1161px 627px #FFF , 1534px 1381px #FFF , 977px 2411px #FFF , 1774px 1057px #FFF , 1446px 1503px #FFF , 513px 107px #FFF , 55px 196px #FFF , 2268px 935px #FFF , 402px 2235px #FFF , 1656px 1857px #FFF , 1987px 1373px #FFF , 137px 676px #FFF , 1817px 703px #FFF , 451px 2544px #FFF , 324px 136px #FFF , 178px 542px #FFF , 1010px 496px #FFF , 1277px 1209px #FFF , 1647px 1268px #FFF , 311px 1383px #FFF , 1532px 1004px #FFF , 568px 1910px #FFF , 485px 2066px #FFF , 1502px 1811px #FFF , 1181px 1910px #FFF , 1674px 2084px #FFF , 218px 514px #FFF , 1828px 322px #FFF , 1464px 1860px #FFF , 1476px 1548px #FFF , 2047px 2123px #FFF , 486px 1165px #FFF , 349px 1588px #FFF , 2269px 346px #FFF , 1171px 1145px #FFF , 1047px 669px #FFF , 1995px 2557px #FFF , 1677px 1px #FFF , 1525px 1223px #FFF , 135px 1546px #FFF , 1687px 2048px #FFF , 1138px 1991px #FFF , 1482px 2494px #FFF , 403px 2429px #FFF , 1456px 1621px #FFF , 911px 2467px #FFF , 211px 1955px #FFF , 1583px 626px #FFF , 22px 1923px #FFF , 752px 315px #FFF , 53px 1642px #FFF , 2482px 1137px #FFF , 1654px 2305px #FFF , 1664px 256px #FFF , 994px 1049px #FFF , 1158px 34px #FFF , 1670px 1178px #FFF , 1270px 2152px #FFF , 83px 1988px #FFF , 2010px 1487px #FFF , 1166px 574px #FFF , 1381px 1606px #FFF , 1190px 847px #FFF , 706px 2040px #FFF , 2410px 995px #FFF , 1586px 1954px #FFF , 444px 223px #FFF , 2379px 648px #FFF , 17px 2483px #FFF , 1274px 1514px #FFF , 1846px 805px #FFF , 2230px 1376px #FFF , 895px 1071px #FFF , 1336px 414px #FFF , 1016px 1510px #FFF , 1690px 629px #FFF;
  animation: animStar 125s linear infinite;
  }
  .stars1:after {
  content: " ";
  top: -600px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 2556px 216px #FFF , 37px 594px #FFF , 1569px 1640px #FFF , 2455px 2518px #FFF , 354px 1449px #FFF , 974px 1874px #FFF , 644px 368px #FFF , 521px 2160px #FFF , 2416px 711px #FFF , 1681px 2500px #FFF , 1439px 2320px #FFF , 646px 332px #FFF , 1954px 1899px #FFF , 565px 488px #FFF , 891px 838px #FFF , 1711px 1186px #FFF , 2384px 31px #FFF , 1087px 384px #FFF , 735px 1432px #FFF , 1312px 2324px #FFF , 1310px 1962px #FFF , 1634px 543px #FFF , 2476px 914px #FFF , 1316px 1185px #FFF , 2155px 1567px #FFF , 2542px 888px #FFF , 1819px 1049px #FFF , 643px 887px #FFF , 551px 2006px #FFF , 2461px 1578px #FFF , 1490px 2342px #FFF , 1790px 950px #FFF , 285px 580px #FFF , 2395px 448px #FFF , 773px 2160px #FFF , 786px 843px #FFF , 92px 2487px #FFF , 1079px 1644px #FFF , 1472px 2537px #FFF , 2172px 1194px #FFF , 590px 1175px #FFF , 324px 362px #FFF , 395px 1442px #FFF , 685px 764px #FFF , 2252px 55px #FFF , 197px 424px #FFF , 2498px 781px #FFF , 2401px 973px #FFF , 2500px 2199px #FFF , 2025px 2244px #FFF , 355px 36px #FFF , 687px 2358px #FFF , 608px 507px #FFF , 897px 2253px #FFF , 642px 1146px #FFF , 511px 1239px #FFF , 1017px 878px #FFF , 608px 1871px #FFF , 2036px 1060px #FFF , 1865px 2258px #FFF , 974px 779px #FFF , 2126px 1492px #FFF , 144px 1686px #FFF , 1443px 622px #FFF , 657px 957px #FFF , 2277px 1383px #FFF , 2142px 1496px #FFF , 310px 797px #FFF , 1265px 2241px #FFF , 258px 853px #FFF , 839px 247px #FFF , 178px 1357px #FFF , 561px 1978px #FFF , 1071px 539px #FFF , 2480px 933px #FFF , 1144px 2229px #FFF , 158px 71px #FFF , 155px 1349px #FFF , 2035px 1603px #FFF , 2413px 2439px #FFF , 1288px 1780px #FFF , 2376px 2284px #FFF , 437px 795px #FFF , 521px 2067px #FFF , 2156px 627px #FFF , 1555px 1523px #FFF , 1467px 2090px #FFF , 1584px 787px #FFF , 2416px 1035px #FFF , 367px 405px #FFF , 2228px 1635px #FFF , 1821px 705px #FFF , 2128px 355px #FFF , 2237px 677px #FFF , 530px 2439px #FFF , 1716px 2097px #FFF , 1702px 608px #FFF , 2180px 2127px #FFF , 690px 1388px #FFF , 265px 1393px #FFF , 1459px 1442px #FFF , 1513px 1436px #FFF , 11px 322px #FFF , 1322px 913px #FFF , 514px 2378px #FFF , 1750px 1420px #FFF , 1400px 1934px #FFF , 1636px 1629px #FFF , 960px 772px #FFF , 1275px 2478px #FFF , 1594px 2319px #FFF , 1880px 2490px #FFF , 391px 462px #FFF , 2150px 2084px #FFF , 199px 1398px #FFF , 994px 1135px #FFF , 1488px 1669px #FFF , 2501px 870px #FFF , 1068px 640px #FFF , 1118px 933px #FFF , 1271px 2459px #FFF , 2146px 1857px #FFF , 1242px 1180px #FFF , 2246px 1027px #FFF , 1459px 2416px #FFF , 1022px 997px #FFF , 1529px 831px #FFF , 794px 545px #FFF , 2022px 97px #FFF , 1718px 383px #FFF , 824px 185px #FFF , 160px 621px #FFF , 909px 1919px #FFF , 1124px 846px #FFF , 2229px 2370px #FFF , 338px 2232px #FFF , 1422px 223px #FFF , 1641px 1274px #FFF , 103px 938px #FFF , 1982px 1718px #FFF , 1075px 1884px #FFF , 1519px 1425px #FFF , 2388px 1901px #FFF , 151px 763px #FFF , 386px 1048px #FFF , 150px 2439px #FFF , 62px 555px #FFF , 1759px 916px #FFF , 2270px 2108px #FFF , 1746px 2409px #FFF , 1085px 24px #FFF , 1000px 457px #FFF , 1363px 2257px #FFF , 2346px 1212px #FFF , 750px 1698px #FFF , 1398px 988px #FFF , 1304px 1823px #FFF , 455px 514px #FFF , 1143px 2046px #FFF , 344px 2392px #FFF , 683px 1339px #FFF , 830px 622px #FFF , 2069px 531px #FFF , 2134px 69px #FFF , 1613px 1413px #FFF , 1597px 110px #FFF , 2051px 2143px #FFF , 751px 917px #FFF , 1198px 1518px #FFF , 355px 1346px #FFF , 1937px 1367px #FFF , 550px 606px #FFF , 364px 2393px #FFF , 1826px 933px #FFF , 366px 1044px #FFF , 2444px 375px #FFF , 1394px 2502px #FFF , 1937px 2348px #FFF , 1555px 1676px #FFF , 1817px 1998px #FFF , 1897px 770px #FFF , 145px 1363px #FFF , 717px 996px #FFF , 2083px 1922px #FFF , 938px 2408px #FFF , 336px 2493px #FFF , 615px 1652px #FFF , 1917px 1759px #FFF , 1672px 1035px #FFF , 2041px 642px #FFF , 2035px 2434px #FFF , 323px 75px #FFF , 1846px 2397px #FFF , 51px 747px #FFF , 1258px 1966px #FFF , 460px 2098px #FFF , 1166px 1282px #FFF , 10px 611px #FFF , 2252px 1863px #FFF , 2342px 1413px #FFF , 2228px 1456px #FFF , 1059px 2000px #FFF , 2193px 1709px #FFF , 1946px 2030px #FFF , 1499px 1711px #FFF , 571px 1091px #FFF , 2058px 2372px #FFF , 108px 434px #FFF , 370px 2402px #FFF , 399px 1312px #FFF , 1130px 2010px #FFF , 956px 195px #FFF , 215px 1169px #FFF , 485px 1306px #FFF , 1088px 2294px #FFF , 2237px 1031px #FFF , 2365px 2349px #FFF , 1392px 1968px #FFF , 1871px 2321px #FFF , 555px 248px #FFF , 2303px 382px #FFF , 1660px 2393px #FFF , 1779px 281px #FFF , 378px 1097px #FFF , 2412px 1070px #FFF , 2079px 2405px #FFF , 2210px 1513px #FFF , 392px 1389px #FFF , 898px 2412px #FFF , 1135px 2286px #FFF , 1046px 2189px #FFF , 1285px 849px #FFF , 646px 1225px #FFF , 1079px 431px #FFF , 1443px 1575px #FFF , 1740px 2192px #FFF , 1739px 517px #FFF , 1063px 1448px #FFF , 960px 1676px #FFF , 2049px 2189px #FFF , 932px 906px #FFF , 2531px 1695px #FFF , 66px 2420px #FFF , 698px 871px #FFF , 311px 790px #FFF , 239px 619px #FFF , 1683px 1125px #FFF , 1542px 20px #FFF , 427px 2241px #FFF , 827px 537px #FFF , 2474px 1194px #FFF , 1187px 1644px #FFF , 382px 50px #FFF , 1591px 1370px #FFF , 1402px 1471px #FFF , 1814px 82px #FFF , 1901px 1860px #FFF , 1515px 299px #FFF , 993px 1606px #FFF , 1922px 94px #FFF , 1497px 645px #FFF , 1003px 325px #FFF , 521px 1473px #FFF , 2510px 65px #FFF , 401px 212px #FFF , 1022px 1212px #FFF , 2513px 1924px #FFF , 531px 1837px #FFF , 2052px 1661px #FFF , 2325px 1406px #FFF , 138px 1956px #FFF , 1820px 2007px #FFF , 1990px 2464px #FFF , 1833px 947px #FFF , 2036px 968px #FFF , 1364px 912px #FFF , 1464px 1149px #FFF , 1647px 2261px #FFF , 2452px 1611px #FFF , 824px 859px #FFF , 1446px 782px #FFF , 512px 147px #FFF , 535px 1675px #FFF , 2288px 1386px #FFF , 974px 1141px #FFF , 1791px 1303px #FFF , 2204px 1024px #FFF , 376px 671px #FFF , 2000px 2267px #FFF , 1529px 1963px #FFF , 355px 252px #FFF , 1611px 120px #FFF , 1338px 1751px #FFF , 2066px 794px #FFF , 2051px 1176px #FFF , 15px 615px #FFF , 1430px 1777px #FFF , 490px 27px #FFF , 1572px 1983px #FFF , 75px 220px #FFF , 2362px 2273px #FFF , 2049px 1868px #FFF , 1685px 303px #FFF , 2245px 2384px #FFF , 1806px 1088px #FFF , 2541px 1047px #FFF , 163px 107px #FFF , 2465px 1633px #FFF , 1823px 2219px #FFF , 590px 598px #FFF , 86px 569px #FFF , 549px 579px #FFF , 1933px 1163px #FFF , 2001px 2021px #FFF , 1151px 676px #FFF , 1341px 264px #FFF , 1637px 419px #FFF , 2466px 867px #FFF , 1090px 1775px #FFF , 1886px 590px #FFF , 147px 116px #FFF , 497px 2508px #FFF , 1645px 708px #FFF , 1564px 2406px #FFF , 978px 2224px #FFF , 125px 1431px #FFF , 1891px 2206px #FFF , 1136px 1069px #FFF , 335px 1772px #FFF , 2063px 731px #FFF , 1234px 1177px #FFF , 1718px 2477px #FFF , 381px 625px #FFF , 494px 334px #FFF , 1721px 544px #FFF , 1531px 1927px #FFF , 2143px 2347px #FFF , 489px 2346px #FFF , 727px 1896px #FFF , 1536px 2011px #FFF , 320px 939px #FFF , 2140px 103px #FFF , 95px 2367px #FFF , 2296px 741px #FFF , 1903px 1048px #FFF , 937px 1151px #FFF , 1930px 1030px #FFF , 2503px 225px #FFF , 1962px 907px #FFF , 1589px 2068px #FFF , 1579px 1740px #FFF , 2459px 67px #FFF , 825px 356px #FFF , 100px 2306px #FFF , 1190px 1743px #FFF , 1882px 2340px #FFF , 1568px 1865px #FFF , 2152px 1272px #FFF , 1486px 2368px #FFF , 1296px 121px #FFF , 1123px 2003px #FFF , 385px 1474px #FFF , 810px 2193px #FFF , 1480px 1526px #FFF , 1261px 967px #FFF , 853px 849px #FFF , 1276px 2245px #FFF , 331px 1755px #FFF , 1053px 922px #FFF , 997px 1478px #FFF , 1384px 987px #FFF , 884px 498px #FFF , 1959px 1370px #FFF , 2196px 1225px #FFF , 1784px 1883px #FFF , 423px 426px #FFF , 1916px 2418px #FFF , 710px 141px #FFF , 596px 1472px #FFF , 1296px 999px #FFF , 1685px 777px #FFF , 936px 985px #FFF , 1419px 251px #FFF , 1500px 382px #FFF , 1721px 1189px #FFF , 792px 540px #FFF , 895px 836px #FFF , 1643px 1903px #FFF , 245px 2420px #FFF , 1971px 1097px #FFF , 1899px 1906px #FFF , 1645px 282px #FFF , 1465px 1877px #FFF , 882px 1927px #FFF , 183px 865px #FFF , 31px 2191px #FFF , 1155px 276px #FFF , 764px 2541px #FFF , 1973px 1768px #FFF , 2513px 198px #FFF , 499px 1134px #FFF , 2256px 872px #FFF , 247px 1565px #FFF , 2454px 1597px #FFF , 292px 2551px #FFF , 1069px 2261px #FFF , 2148px 1007px #FFF , 2488px 394px #FFF , 1543px 2101px #FFF , 949px 805px #FFF , 1862px 2020px #FFF , 1117px 1955px #FFF , 42px 1068px #FFF , 1369px 2192px #FFF , 2292px 997px #FFF , 2317px 1848px #FFF , 806px 1922px #FFF , 1904px 2470px #FFF , 228px 1544px #FFF , 2118px 159px #FFF , 1356px 1260px #FFF , 2225px 2542px #FFF , 483px 240px #FFF , 36px 110px #FFF , 1750px 1530px #FFF , 1974px 2109px #FFF , 339px 2525px #FFF , 1218px 994px #FFF , 1218px 1734px #FFF , 413px 2285px #FFF , 341px 1644px #FFF , 938px 246px #FFF , 564px 1594px #FFF , 47px 1024px #FFF , 23px 312px #FFF , 890px 387px #FFF , 1135px 1011px #FFF , 174px 23px #FFF , 360px 733px #FFF , 1724px 1006px #FFF , 1900px 1470px #FFF , 183px 2538px #FFF , 2119px 1501px #FFF , 1506px 1376px #FFF , 107px 409px #FFF , 589px 956px #FFF , 856px 1977px #FFF , 1757px 797px #FFF , 119px 773px #FFF , 763px 1822px #FFF , 2297px 2461px #FFF , 297px 1354px #FFF , 2171px 959px #FFF , 1861px 803px #FFF , 140px 716px #FFF , 1457px 643px #FFF , 2507px 356px #FFF , 1906px 310px #FFF , 2480px 417px #FFF , 2406px 1129px #FFF , 365px 2358px #FFF , 1814px 1874px #FFF , 1317px 807px #FFF , 2211px 2254px #FFF , 784px 1194px #FFF , 2046px 141px #FFF , 2095px 174px #FFF , 2077px 2290px #FFF , 1777px 1182px #FFF , 904px 499px #FFF , 813px 2230px #FFF , 885px 931px #FFF , 281px 520px #FFF , 88px 1332px #FFF , 2151px 1392px #FFF , 1358px 1917px #FFF , 516px 254px #FFF , 2148px 469px #FFF , 1318px 2445px #FFF , 2231px 1577px #FFF , 365px 313px #FFF , 151px 470px #FFF , 1836px 1974px #FFF , 1059px 2116px #FFF , 1544px 2218px #FFF , 1059px 1327px #FFF , 2224px 488px #FFF , 1136px 2464px #FFF , 1876px 1304px #FFF , 291px 995px #FFF , 2033px 1871px #FFF , 856px 1284px #FFF , 2049px 889px #FFF , 925px 602px #FFF , 2102px 103px #FFF , 322px 1728px #FFF , 1455px 1373px #FFF , 1080px 27px #FFF , 2178px 1864px #FFF , 483px 2146px #FFF , 1px 1811px #FFF , 2236px 1510px #FFF , 1103px 7px #FFF , 2179px 2004px #FFF , 2185px 1519px #FFF , 578px 2284px #FFF , 2491px 1522px #FFF , 924px 337px #FFF , 2367px 380px #FFF , 110px 60px #FFF , 78px 1194px #FFF , 393px 78px #FFF , 1780px 772px #FFF , 298px 1229px #FFF , 761px 497px #FFF , 123px 875px #FFF , 724px 2361px #FFF , 2459px 1335px #FFF , 68px 1272px #FFF , 420px 1696px #FFF , 609px 2204px #FFF , 505px 137px #FFF , 2189px 2372px #FFF , 2445px 1291px #FFF , 1055px 789px #FFF , 803px 80px #FFF , 655px 780px #FFF , 905px 526px #FFF , 1751px 2241px #FFF , 2280px 1779px #FFF , 2273px 1378px #FFF , 1155px 1410px #FFF , 1910px 1581px #FFF , 432px 167px #FFF , 1499px 1827px #FFF , 91px 543px #FFF , 19px 2139px #FFF , 440px 1783px #FFF , 1757px 2197px #FFF , 167px 796px #FFF , 1641px 1766px #FFF , 443px 480px #FFF , 1535px 1416px #FFF , 2128px 397px #FFF , 2464px 660px #FFF , 1560px 756px #FFF , 1674px 892px #FFF , 280px 1935px #FFF , 498px 2526px #FFF , 1398px 118px #FFF , 2225px 2097px #FFF , 2077px 1307px #FFF , 172px 1707px #FFF , 913px 953px #FFF , 1282px 185px #FFF , 21px 313px #FFF , 2079px 656px #FFF , 494px 2211px #FFF , 382px 557px #FFF , 1717px 1959px #FFF , 1647px 450px #FFF , 1897px 1166px #FFF , 49px 2482px #FFF , 1476px 143px #FFF , 2040px 1022px #FFF , 1925px 2345px #FFF , 302px 316px #FFF , 354px 852px #FFF , 1900px 929px #FFF , 518px 732px #FFF , 151px 2439px #FFF , 942px 357px #FFF , 1119px 645px #FFF , 1412px 752px #FFF , 743px 964px #FFF , 2496px 1644px #FFF , 1117px 1280px #FFF , 641px 2449px #FFF , 2477px 1433px #FFF , 1196px 1048px #FFF , 969px 935px #FFF , 341px 1583px #FFF , 317px 497px #FFF , 55px 2106px #FFF , 172px 1230px #FFF , 1105px 1414px #FFF , 845px 1666px #FFF , 1588px 2116px #FFF , 2283px 1426px #FFF , 132px 1833px #FFF , 753px 33px #FFF , 1563px 1228px #FFF , 1731px 42px #FFF , 1865px 1535px #FFF , 205px 1755px #FFF , 2178px 833px #FFF , 1778px 1592px #FFF , 1964px 404px #FFF , 320px 2222px #FFF , 1105px 1262px #FFF , 2014px 671px #FFF , 2152px 1003px #FFF , 1950px 834px #FFF , 781px 2010px #FFF , 1731px 2436px #FFF , 1778px 352px #FFF , 1494px 1256px #FFF , 998px 2087px #FFF , 706px 1218px #FFF , 609px 897px #FFF , 312px 978px #FFF , 1796px 2161px #FFF , 571px 2188px #FFF , 2136px 1576px #FFF , 2321px 1066px #FFF , 1646px 1967px #FFF , 2497px 1282px #FFF , 2222px 80px #FFF , 702px 2536px #FFF , 417px 234px #FFF , 2480px 2365px #FFF , 1221px 563px #FFF , 2517px 1052px #FFF , 144px 514px #FFF , 1543px 1825px #FFF , 1740px 884px #FFF , 1483px 1050px #FFF , 2126px 879px #FFF , 1703px 2088px #FFF , 393px 677px #FFF , 2035px 1685px #FFF , 1862px 1232px #FFF , 744px 2432px #FFF , 2043px 2475px #FFF , 1744px 1535px #FFF , 1733px 1702px #FFF , 627px 2236px #FFF , 969px 404px #FFF , 789px 832px #FFF , 1760px 2162px #FFF , 419px 1230px #FFF , 875px 1264px #FFF , 1737px 1056px #FFF , 2450px 2188px #FFF , 820px 2472px #FFF , 402px 2220px #FFF , 2542px 243px #FFF , 947px 1041px #FFF , 2218px 272px #FFF , 696px 2484px #FFF , 1526px 1759px #FFF , 2331px 1429px #FFF , 605px 2263px #FFF , 2518px 771px #FFF , 1791px 431px #FFF , 1918px 1297px #FFF , 227px 2123px #FFF , 1124px 605px #FFF , 2435px 1677px #FFF , 2157px 286px #FFF , 1042px 941px #FFF , 878px 2265px #FFF , 1682px 733px #FFF , 1293px 1912px #FFF , 1078px 1964px #FFF , 1871px 1201px #FFF , 1048px 589px #FFF , 1456px 1107px #FFF , 1561px 1731px #FFF , 2187px 1150px #FFF , 2274px 1657px #FFF , 1739px 839px #FFF , 1544px 2105px #FFF , 2369px 2485px #FFF , 754px 1856px #FFF , 1642px 1889px #FFF , 1944px 1638px #FFF , 937px 1564px #FFF , 721px 465px #FFF , 2267px 699px #FFF , 512px 443px #FFF , 2162px 560px #FFF , 2247px 2431px #FFF , 290px 2214px #FFF , 558px 2217px #FFF , 2373px 1268px #FFF , 549px 1389px #FFF , 2005px 942px #FFF , 72px 196px #FFF , 327px 2498px #FFF , 2453px 280px #FFF , 1037px 1383px #FFF , 2380px 368px #FFF , 1373px 138px #FFF , 448px 1946px #FFF , 1538px 1056px #FFF , 881px 881px #FFF , 2401px 114px #FFF , 889px 867px #FFF , 506px 947px #FFF;
  }
  
  .stars2 {
  z-index: 10;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1063px 953px #FFF , 19px 913px #FFF , 1890px 330px #FFF , 2384px 242px #FFF , 425px 888px #FFF , 2386px 1941px #FFF , 402px 1993px #FFF , 1655px 367px #FFF , 1989px 625px #FFF , 313px 668px #FFF , 563px 838px #FFF , 692px 2495px #FFF , 575px 988px #FFF , 2480px 40px #FFF , 974px 34px #FFF , 422px 1503px #FFF , 1191px 2051px #FFF , 2290px 155px #FFF , 2045px 2387px #FFF , 1085px 1646px #FFF , 421px 2352px #FFF , 2104px 1913px #FFF , 456px 627px #FFF , 2099px 177px #FFF , 1989px 1330px #FFF , 1397px 752px #FFF , 1497px 1223px #FFF , 2436px 715px #FFF , 964px 809px #FFF , 1724px 1736px #FFF , 1864px 2161px #FFF , 1232px 821px #FFF , 1708px 2240px #FFF , 1396px 609px #FFF , 622px 1981px #FFF , 2243px 260px #FFF , 175px 1257px #FFF , 940px 2062px #FFF , 2246px 1925px #FFF , 2311px 1116px #FFF , 286px 542px #FFF , 435px 2138px #FFF , 102px 2185px #FFF , 1279px 1308px #FFF , 2133px 1373px #FFF , 2536px 1544px #FFF , 1732px 2139px #FFF , 1285px 2302px #FFF , 85px 1651px #FFF , 2121px 1028px #FFF , 2242px 1128px #FFF , 644px 2499px #FFF , 1800px 839px #FFF , 1815px 1346px #FFF , 1535px 581px #FFF , 1814px 2546px #FFF , 1322px 851px #FFF , 783px 1626px #FFF , 1599px 1095px #FFF , 328px 50px #FFF , 2227px 1909px #FFF , 2431px 1963px #FFF , 1506px 431px #FFF , 1400px 1672px #FFF , 57px 2019px #FFF , 839px 1077px #FFF , 2335px 1717px #FFF , 1836px 1381px #FFF , 656px 1146px #FFF , 784px 1057px #FFF , 1679px 2365px #FFF , 1439px 452px #FFF , 2373px 63px #FFF , 2249px 1706px #FFF , 1852px 700px #FFF , 1982px 1322px #FFF , 1094px 1761px #FFF , 937px 1358px #FFF , 1705px 2417px #FFF , 137px 474px #FFF , 2042px 771px #FFF , 1053px 1942px #FFF , 1866px 454px #FFF , 614px 440px #FFF , 482px 2105px #FFF , 1600px 1691px #FFF , 1710px 181px #FFF , 261px 1994px #FFF , 2483px 894px #FFF , 2447px 2554px #FFF , 717px 781px #FFF , 1070px 2130px #FFF , 1659px 161px #FFF , 1309px 2321px #FFF , 1887px 945px #FFF , 2512px 841px #FFF , 2383px 1255px #FFF , 1823px 1416px #FFF , 503px 126px #FFF , 1989px 17px #FFF , 1007px 2238px #FFF , 671px 988px #FFF , 1813px 29px #FFF , 2295px 606px #FFF , 937px 2408px #FFF , 1009px 927px #FFF , 243px 807px #FFF , 951px 90px #FFF , 1530px 359px #FFF , 897px 818px #FFF , 1462px 192px #FFF , 585px 2557px #FFF , 227px 417px #FFF , 90px 1810px #FFF , 913px 2333px #FFF , 3px 1182px #FFF , 1713px 1433px #FFF , 2479px 1457px #FFF , 945px 2379px #FFF , 1787px 268px #FFF , 527px 606px #FFF , 2301px 1376px #FFF , 2544px 1725px #FFF , 1011px 1109px #FFF , 712px 878px #FFF , 710px 1222px #FFF , 1965px 161px #FFF , 2107px 172px #FFF , 1897px 355px #FFF , 2264px 288px #FFF , 2381px 841px #FFF , 1396px 1008px #FFF , 2539px 937px #FFF , 635px 1226px #FFF , 1955px 789px #FFF , 1891px 847px #FFF , 1752px 962px #FFF , 1386px 2182px #FFF , 742px 784px #FFF , 929px 2021px #FFF , 448px 34px #FFF , 664px 635px #FFF , 876px 401px #FFF , 1969px 1092px #FFF , 2387px 1652px #FFF , 1205px 1840px #FFF , 2140px 1337px #FFF , 1069px 629px #FFF , 2157px 2108px #FFF , 115px 1612px #FFF , 6px 825px #FFF , 519px 1621px #FFF , 2473px 1287px #FFF , 99px 1764px #FFF , 568px 1538px #FFF , 2161px 2115px #FFF , 1716px 1529px #FFF , 2460px 1323px #FFF , 792px 134px #FFF , 1241px 1175px #FFF , 21px 573px #FFF , 541px 1805px #FFF , 1346px 1706px #FFF , 234px 443px #FFF , 2197px 1406px #FFF , 324px 1668px #FFF , 1521px 2398px #FFF , 1433px 1364px #FFF , 2250px 2535px #FFF , 583px 2316px #FFF , 533px 148px #FFF , 4px 1191px #FFF , 1123px 575px #FFF , 1449px 1109px #FFF , 1733px 789px #FFF , 2039px 603px #FFF , 2034px 524px #FFF , 1230px 276px #FFF , 927px 1468px #FFF , 1124px 1902px #FFF , 1373px 1661px #FFF , 2532px 815px #FFF , 582px 99px #FFF , 53px 241px #FFF , 2487px 544px #FFF , 749px 896px #FFF , 250px 1182px #FFF , 7px 1944px #FFF , 836px 1912px #FFF , 1990px 498px #FFF , 168px 1967px #FFF , 1916px 2032px #FFF , 783px 1301px #FFF , 2200px 1132px #FFF , 633px 681px #FFF , 495px 1053px #FFF , 1518px 1279px #FFF , 1454px 2074px #FFF , 425px 1650px #FFF , 1656px 295px #FFF;
  animation: animStar 175s linear infinite;
  }
  .stars2:after {
  content: " ";
  top: -600px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 1429px 2367px #FFF , 1902px 987px #FFF , 286px 788px #FFF , 1495px 881px #FFF , 910px 1310px #FFF , 1126px 459px #FFF , 2552px 28px #FFF , 353px 290px #FFF , 736px 588px #FFF , 2426px 1020px #FFF , 1913px 1120px #FFF , 772px 2198px #FFF , 2347px 1531px #FFF , 2250px 1135px #FFF , 1191px 699px #FFF , 1553px 1360px #FFF , 1321px 528px #FFF , 1210px 1895px #FFF , 109px 986px #FFF , 2090px 1006px #FFF , 2158px 604px #FFF , 1911px 2160px #FFF , 1642px 251px #FFF , 1494px 1870px #FFF , 2473px 698px #FFF , 2425px 1729px #FFF , 1702px 883px #FFF , 1468px 182px #FFF , 383px 1762px #FFF , 2042px 230px #FFF , 272px 594px #FFF , 1953px 1293px #FFF , 2373px 1740px #FFF , 2272px 897px #FFF , 1962px 1465px #FFF , 2138px 1762px #FFF , 375px 524px #FFF , 2130px 1743px #FFF , 2485px 1884px #FFF , 780px 1319px #FFF , 1769px 1902px #FFF , 2015px 1073px #FFF , 2068px 309px #FFF , 2239px 874px #FFF , 979px 880px #FFF , 641px 2338px #FFF , 2365px 2103px #FFF , 890px 607px #FFF , 2398px 1631px #FFF , 157px 392px #FFF , 1696px 1621px #FFF , 2010px 554px #FFF , 617px 2551px #FFF , 642px 1499px #FFF , 842px 1605px #FFF , 1477px 1179px #FFF , 290px 2316px #FFF , 1528px 1646px #FFF , 655px 1319px #FFF , 2497px 392px #FFF , 400px 1261px #FFF , 348px 708px #FFF , 2518px 461px #FFF , 686px 1832px #FFF , 1574px 1786px #FFF , 2363px 1188px #FFF , 849px 935px #FFF , 1528px 166px #FFF , 262px 241px #FFF , 2006px 1603px #FFF , 499px 876px #FFF , 2107px 1612px #FFF , 2508px 1690px #FFF , 760px 1773px #FFF , 242px 2560px #FFF , 1159px 225px #FFF , 278px 332px #FFF , 2416px 1259px #FFF , 1083px 1307px #FFF , 1432px 380px #FFF , 856px 1143px #FFF , 782px 556px #FFF , 2436px 1942px #FFF , 109px 550px #FFF , 1530px 2066px #FFF , 12px 755px #FFF , 432px 844px #FFF , 1100px 1575px #FFF , 2532px 1379px #FFF , 1508px 1897px #FFF , 675px 1185px #FFF , 759px 1722px #FFF , 1728px 2507px #FFF , 451px 2129px #FFF , 1944px 435px #FFF , 2068px 2087px #FFF , 1343px 1120px #FFF , 1936px 1038px #FFF , 2117px 821px #FFF , 1572px 2020px #FFF , 1359px 1007px #FFF , 1100px 1342px #FFF , 783px 2554px #FFF , 172px 1451px #FFF , 85px 1747px #FFF , 2335px 1953px #FFF , 1616px 713px #FFF , 1478px 2471px #FFF , 1089px 2454px #FFF , 1388px 2066px #FFF , 2055px 996px #FFF , 2182px 55px #FFF , 872px 2523px #FFF , 2270px 2530px #FFF , 311px 53px #FFF , 512px 1634px #FFF , 1471px 1439px #FFF , 828px 539px #FFF , 301px 433px #FFF , 2087px 1793px #FFF , 1447px 2313px #FFF , 1925px 2329px #FFF , 2114px 1709px #FFF , 836px 655px #FFF , 1603px 1570px #FFF , 361px 2015px #FFF , 2185px 1479px #FFF , 138px 2381px #FFF , 1721px 2239px #FFF , 1193px 49px #FFF , 1570px 820px #FFF , 242px 1356px #FFF , 116px 1953px #FFF , 2334px 1405px #FFF , 2009px 852px #FFF , 1033px 2337px #FFF , 818px 1671px #FFF , 1226px 2146px #FFF , 1098px 1635px #FFF , 1360px 238px #FFF , 484px 1937px #FFF , 1386px 146px #FFF , 73px 2054px #FFF , 300px 2229px #FFF , 1998px 1362px #FFF , 1302px 1127px #FFF , 779px 2351px #FFF , 1604px 1623px #FFF , 480px 2018px #FFF , 2437px 2552px #FFF , 185px 119px #FFF , 1959px 1219px #FFF , 1302px 2111px #FFF , 2418px 669px #FFF , 1691px 1186px #FFF , 2507px 1282px #FFF , 2109px 2007px #FFF , 2559px 2539px #FFF , 2048px 1779px #FFF , 2141px 392px #FFF , 804px 2325px #FFF , 2325px 1508px #FFF , 2308px 398px #FFF , 2322px 1566px #FFF , 1542px 1637px #FFF , 2098px 1579px #FFF , 1832px 2304px #FFF , 1091px 1530px #FFF , 2034px 1225px #FFF , 2505px 1495px #FFF , 1605px 2215px #FFF , 913px 1842px #FFF , 928px 907px #FFF , 1022px 2206px #FFF , 347px 959px #FFF , 618px 853px #FFF , 1073px 774px #FFF , 1184px 596px #FFF , 469px 681px #FFF , 553px 1825px #FFF , 46px 2418px #FFF , 1000px 2237px #FFF , 501px 276px #FFF , 1059px 2386px #FFF , 356px 522px #FFF , 966px 735px #FFF , 1492px 1121px #FFF , 60px 1073px #FFF , 1512px 2000px #FFF , 2320px 784px #FFF , 246px 713px #FFF , 2499px 2310px #FFF , 2121px 1185px #FFF , 2180px 1393px #FFF , 869px 2363px #FFF , 1843px 1782px #FFF , 2504px 322px #FFF , 55px 1223px #FFF , 456px 293px #FFF , 910px 1012px #FFF;
  }
   

   
   @keyframes animStar {
    from{
     transform: translateY(0px);
    }
    to {
     transform: translateY(-2560px) translateX(-2560px);
    
    }
   }
  

/* Star Background */